@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body{
	background-color:white;
	color: #1a237e;
	font-family: 'Open Sans:300', sans-serif, times;
	font-size: 12px; 

}

#result{
	margin: auto 200px;
	overflow: hiddenv;
}

ul, li{
	list-style-type: none;
}

li{
	display: block;
	width: 200px;
	height: 30px;

	text-align: left;

	padding: 10px 10px;

	float: left;

}

li:hover{
	background-color:#8c9eff;
}

.keywords{
	display: none;
}

.not-found{
	display: none;
}
